In [3]:
import pandas as pd

In [4]:
graphdata = pd.read_csv(r"C:\Users\36706\Workspaces\viatra-eclipse-workspace\Structural-Analysis-of-Partial-Models-using-Graph-Metrics\typeStatistics.csv")
graphdata.head()

   Choice  Entry  Exit  FinalState  Region  State  Transition
0       0      7     0           0       7     25          57
1       5      7     2           0       7     22          57
2       0      6     0           0       6     24          73
3       4      3     0           0       3     21          68
4      13      5     0           0       5     16          65

In [5]:
graphdata

     Choice  Entry  Exit  FinalState  Region  State  Transition
0         0      7     0           0       7     25          57
1         5      7     2           0       7     22          57
2         0      6     0           0       6     24          73
3         4      3     0           0       3     21          68
4        13      5     0           0       5     16          65
..      ...    ...   ...         ...     ...    ...         ...
294      17      3     0           0       3     11          59
295      15      2     0           0       2     15          60
296       9      6     0           0       6     18          56
297       9      8     0           0       8     18          51
298      14      4     0           0       4     13          63

[299 rows x 7 columns]

In [1]:
print("muxik a git")

muxik a git